.vscode
*.sublime-project
*.sublime-workspace

*.exe
*.html
*.idx
*.db

htmldocs
*.mkdocs
.*cache
__folianttmp__
*.log
bin

tests/tobjutils
tests/tpostgres
tests/tpostgresfromtypes
tests/tpostgresmigrate
tests/tpostgresrowutils
tests/tsqlite
tests/tsqlitefromtypes
tests/tsqlitemigrate
tests/tsqliterowutils
