import normanpkg/prelude

import $1/db_backend
import $1/models/$2


migrate:
  withDb:
    db.createTables($3())

undo:
  let qry = "DROP TABLE IF EXISTS $4"

  withDb:
    debug qry
    db.exec sql qry
